# Copy this file to .env and fill in your own values.

# Azure Event Hub name
EVENT_HUB_NAME=your_event_hub_name_here

# Azure Event Hub connection string (found in Azure Portal > Event Hub > Shared access policies)
EVENT_HUB_CONNECTION_STR=your_event_hub_connection_string_here


# Azure Storage container name
STORAGE_ACCOUNT_CONTAINER_NAME=your_container_name_here

# Azure Storage connection string (found in Azure Portal > Storage Account > Access keys)
AZURE_STORAGE_CONNECTION_STRING=your_connection_string_here

